.topline{
	width: 100%;
	min-height: 40px;
	background: $primary;
	padding: 4px 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999999999;
	transition: all ease-in-out 0.5s;
	.wrapper{
		max-width: 1700px;
	}
	a{
		text-decoration: unset;
		color: $light;
	}
	p{
		font-weight: 400;
		font-size: 14px;
		line-height: 32px;
		letter-spacing: 0.32px;
		color: $light;
		display: flex;
		align-items: center;
		text-decoration: unset;
		color: $light;
		a{
			text-decoration: unset;
			color: $light;
		}
		span{
			display: flex;
		align-items: center;
		}
		img{
			margin-right: 8px;
			margin-top: -3px;
			display: inline-block;
		}
		.hline{
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

.navbar{
	border-bottom: 1px solid $light;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999999999;
	top: 40px;
	// background-color: rgba(2, 20, 49, 0.4);
	transition: all ease-in-out 0.5s;
	
	.wrapper{
		max-width: 1700px;
		display: flex;
		align-items: center;
		min-height: 100px;
		position: relative;
		transition: all ease-in-out 0.5s;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		li{
			display: inline-block;
			a{
				font-weight: 600;
				font-size: 15px;
				line-height: 21px;
				letter-spacing: 0.80px;
				color: $light;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0 15px;
				min-height: 100px;
				display: flex;
				align-items: center;
				margin: 0 10px;
				letter-spacing: 1.5px;
				transition: all ease-in-out 0.5s;
				img{
					margin-left: 5px;
					max-width: 12px;
					display: inline-block;
					vertical-align: middle;
					margin-bottom: -2px;
				}
				&:hover{
					opacity: 0.7;
				}
			}
		}
		.dropdown_li_sm{
			position: relative;
		}
		.active{
			a{
				border-bottom: 3px solid $light;
			}
		}
	}
	.right{ 
		left: unset;
		right: 10px;
		.centerBtn11{
			margin: 0;
		}
		li:last-child a{
			border: 1px solid $light;
			border-radius: 50px;
			padding: 10px 20px;
			padding-left: 20px !important;
			padding-right: 20px !important;
			min-width: 150px;
			text-align: center;
			justify-content: center;
			min-height: 40px;
		}
		li:last-child a:hover{
			// background-color: $primary;
			// color: $light;
			opacity: 1;
			border-color: $light;
		}
	}
}

.dropdown_smaller{
	background-color: $light;
	width: 200px;
	// min-height: 100px;
	position: absolute;
	top: 100px;
	left: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	visibility: hidden;
	opacity: 0;
	transition: all ease 0.25s;
	.wrapper{
		max-width: unset;
		width: unset;
	}

	ul{
		position: relative;
		li{
			display: block;
			a{
				min-height: unset;
				color: $primary;
				padding: 0;
				margin: 0;
				font-weight: 400;
				margin-top: 10px;
				transition: all ease 0.25s;
				text-transform: unset;
				text-align: left;
				&:hover{
					color: $primary;
				}
			}
		}
	}
}

.dropdown_bigger{
	background-color: $light;
	width: 100vw;
	min-height: 100px;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 30px;
	padding-bottom: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all ease 0.25s;
	.boxes{
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 1000px;
		margin: auto;
		h2{
			font-size: 20px;
			letter-spacing: 1px;
		}
		ul{
			position: relative;
			li{
				display: block;
				a{
					min-height: unset;
					color: $primary;
					padding: 0;
					margin: 0;
					font-weight: 400;
					margin-top: 10px;
					transition: all ease 0.25s;
					text-transform: unset;
					&:hover{
						color: $primary;
					}
				}
			}
		}
	}
}

@media(min-width: 900px){
	.dropdown_li:hover{
		.dropdown_bigger{
			opacity: 1;
			visibility: visible;
		}
	}
	.dropdown_li_sm:hover{
		.dropdown_smaller{
			opacity: 1;
			visibility: visible;
		}
	}
	.dropdown_li_sm .dropdown_smaller{
		max-height: unset !important;
	}

	.navbar_scrolled{
		.topline{
			top: -100px;
		}
		.navbar{
			top: 0;
			background-color: $primary;
		}
		.navbar .wrapper{
			min-height: 70px;
		}
		.navbar ul li .dropdown_smaller, .navbar ul li .dropdown_bigger{
			a{
				min-height: unset;
			}
		}
		.navbar ul li a{
			min-height: 70px;
			// color: $primary;
		}
		.dropdown_bigger, .dropdown_li_sm .dropdown_smaller{
			top: 70px;
		}
	}
}

.root{
	height: 100vh;
	width: 100vw;
	background-color: $secondary;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}


@media(max-width: 1200px){
	.navbar ul li a{
		margin: 0;
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar .right{
		right: 15px
	}
}


@media(max-width: 900px){
	.everything{
		overflow: hidden;
		max-width: 100vw;
		max-height: 100vh;
	}
	.topline{
		position: fixed;
	}
	.navbar{
		background-color: $light;
		position: fixed;
		.for_mobile{
			position: fixed;
			top: calc(50% - 25px + 84px);
			transform: translateY(-50%);
			padding-left: 15px;
			opacity: 0;
			transition: all ease-in-out 0.5s;
			margin-left: -100px;
			ul{
				position: relative;
				display: block;
				right: unset;
				left: unset;
				text-align: left;

				li{
					display: block;
					padding: 0;
					margin: 0;
					min-height: unset;
					margin-bottom: 25px;
					a{
						padding: 0;
						margin: 0;
						min-height: unset;
						display: inline-block;
						text-align: left;
					}
				}
				.active{
					a{
						border-bottom: 2px solid $light;
						padding-top: 3px;
						padding-bottom: 3px;
					}
				}
			}
		}
		.logo{
			max-width: 140px;
		}
		.lines{
			position: absolute;
			right: 15px;
			.line{
				width: 40px;
				height: 2px;
				background-color: $primary;
				margin-top: 8px;
				margin-bottom: 8px;
				border-radius: 10px;
				transition: all ease 0.25s;
			}
		}
	}
	.navbar .wrapper{
		min-height: 80px;
	}
	.root{
		transition: transform ease-in-out 0.75s,transform-origin ease-in-out 0.75s,height ease-in-out 0.75s,margin-left ease-in-out 0.75s,border-radius ease-in-out 0.75s ;
	}
	.navbar_active{
		.for_mobile{
			opacity: 1;
			margin-left: 0;
			transition-delay: 250ms;
		}
		.lines{
			.line{
				width: 40px;
			}
			.line:nth-child(1){
				transform: rotate(45deg);
			}
			.line:nth-child(2){
			    transform: rotate(-45deg);
			    margin-top: -11px;
			}
			.line:nth-child(3){
			    transform: rotate(-45deg);
			    margin-top: -10px;
				opacity: 0;
			}
		}
		.root{
			transform: scale(0.6);
			transform-origin: right calc(50% + 121px);
			border-radius: 30px;
			height: 100vh;
			// margin-right: -180px;
			margin-left: 70px;
		}
	}
	.topline p{
		font-size: 12px;
	}

	.dropdown_li .dropdown_bigger {
		position: fixed;
		top: 0;
		left: -100%;
		transform: unset;
		background: $primary;
		opacity: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		text-transform: uppercase;
		z-index: 9999;
		overflow: auto;
		.wrapper{
			padding-top: 80px;
		}
	}

	.dropdown_li_sm .dropdown_smaller {
		position: relative;
		visibility: visible;
		opacity: 1;
		background-color: transparent;
		top: unset;
		padding: 0;
		min-height: unset;
		max-height: 0;
		overflow: hidden;
		transition: all ease 0.5s;
		ul li{
			margin-bottom: 5px;
		}
		.wrapper{
			padding: 0;
		}
	}
	.dropdown_li .dropdown_bigger_active{
		visibility: visible;
		opacity: 1;
		left: 0;
	}
	.dropdown_bigger .boxes{
		overflow: auto;
		max-height: calc(100% - 80px);
	}
	.dropdown_bigger{
		.goback_mobile{
			position: absolute;
			top: 0;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			border: 1px solid rgba(255, 255, 255, 0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(90deg);
			z-index: 99999;
		}
	}
	.navbar .for_mobile ul .dropdown_bigger li{
		margin-bottom: 5px;
	}
	.navbar .for_mobile ul li a{
		color: $light;
	}
	.dropdown_bigger .boxes{
		display: block;
		h2{
			font-size: 12px;
			color: $light;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			img{
				margin-left: 5px;
				max-width: 12px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.ford{
			max-height: 0;
			overflow: hidden;
			transition: all ease 0.5s;
			margin-bottom: 25px;
		}
	}
	.navbar_active .for_mobile{
		overflow: auto;
		min-height: 400px;
		max-height: calc(100% - 200px);
		max-width: 180px;
	}
	.navbar ul li a img{
		margin-bottom: 0;
	}
	.navbar .right li:last-child a{
		background-color: $secondary;
		border-color: $secondary;
	}
	.dropdown_li_sm .dropdown_smaller .wrapper,.dropdown_li_sm .dropdown_smaller{
		width: unset;
		max-width: unset;
	}
}

@media(max-width: 460px){
	.topline p{
		span{
			display: none;
		}
	}
}